html, body {
    height: 100%;
    margin: 0;
  }

  body {
      display: flex;
      flex-direction: column;
      min-height: 150vh; /* Your page minimum height */
  }

.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main {
    flex: 1; /* This makes the main content take up the remaining space */
}

footer {
    background-color: #222222;
    padding: 20px;
    text-align: center;
}

body > div.wrapper > footer > a > div {
    border-radius: 1vh;
    color: black;
}

#create-poster-link {
    background-color: aliceblue;
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    border-radius: 10px;

    
}

#create-poster-link:hover {
    background-color: antiquewhite;
}
/* FOOTER */



/* footer {
    background-color: rgb(71, 71, 71);
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
} */

/* body.scrolled footer {
    opacity: 1;
} */


/* @media (max-width: 480px) {
    .topnav a.create-poster {
        padding: 10px 15px;

    }
} */