# Django
django
django-debug-toolbar
django-crispy-forms
django-extensions
django-redis

# For Django applications
phonenumbers
celery
flower=2.0.1
django-celery-results=2.5.1
django-celery-beat=2.7.0
# For front-end
crispy_bootstrap4

# Other packages
Pillow
python-dotenv
psycopg2-binary
autopep8
