{% extends 'posters_base.html' %}
{% load i18n %}
{% block title %} {% trans "Categories" %} {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'posters_app/css/category.css'%}">
<script src="{% static 'posters_app/js/category.js'%}" type="text/javascript"></script>

<div class="container">
    <h1>{% trans "All posters:" %}</h1>
    <ul class="list-group">
        {% for poster in posters %}
        <li class="list-group-item">
            <div class="container-fluid">
                <h3 id="posterHeader"> {{ poster.header }} </h3>
                <h4>Poster id: {{ poster.id }}</h4>
                <a href="{% url 'posters_app:poster_view' poster.id %}">{% trans "About poster" %}</a>
                <p id="posterDescription"> {{ poster.formatted_created }} </p>
                <p id="posterPrice"> {{ poster.price_rounded }} </p>
                <p id="posterCurrnecy"> {{ poster.currency }} </p>
                <img src="{% url 'posters_app:get_image_by_image_id' poster.image_ids.0 %}" alt="Image">
            </div>
        </li>
        
            
        {% endfor %}
    </ul>
</div>

{% endblock %}