{% extends 'posters_base.html' %}
{% block title %} Categories {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'posters_app/css/categories.css'%}">
<script src="{% static 'posters_app/js/categories.js'%}" type="text/javascript"></script>

<div class="container">
    <h1>Categories:</h1>
    <ul class="list-group">
        {% for category in categories %}
        <li class="list-group-item"> <span class="badge"> {{ category.posters_in_category}} </span>
            <a href="{% url 'posters_app:list_posters_in_category' category.name %}"> {{ category }}</a>
        </li>
        {% endfor %}
      </ul>



    {% comment %} <ul>
        {% for category in categories %}
        <div class="container-fluid">
            <li>
                <h3>
                    <a href="{% url 'posters_app:list_posters_in_category' category.name %}"> <i class="fa fa-laptop" aria-hidden="true"></i> {{ category }}</a>
                </h3>
            </li>
        </div>
        {% endfor %}
    </ul> {% endcomment %}
</div>

{% endblock %}