{% extends 'posters_base.html' %}
{% block title %} Posters App {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'posters_app/css/index.css'%}">
<script src="{% static 'posters_app/js/index.js'%}" type="text/javascript"></script>


<div class="container">
    <div class="container-fluid" id="search-bar">
        <h4>Search bar</h4>
    </div>
    <div class="container-fluid" id="main-grid">
        <!-- ROW 1 -->
       {% for row in recommended_posters|slice:":9"|slice:"0::3" %}
       <div class="row">
        {% for poster in recommended_posters|slice:":9"|slice:forloop.counter0::3 %}
            <div class="col-md-4">
                <h3>{{ recommended_posters }}</h3>
            </div>
        {% endfor %}
       </div>
       {% endfor %}
    </div>
    <div class="container-fluid" id="pageing">
        <ul class="pager">
            <li class="previous"><a href="#">Previous</a></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>
    </div>
</div>

{% comment %} <h1>Hello Posters App</h1>
<div>
    <ul>
        {% for poster in recommended_posters %}
            <li>
                <div id="poster">
                    <h3 id="posterHeader"> {{ poster.header }} </h3>
                    <h4>Poster id: {{ poster.id }}</h4>
                    <a href="{% url 'posters_app:poster_view' poster.id %}"> About Poster </a>
                    <p id="posterDescription"> {{ poster.description }} </p>
                    <p id="posterDescription"> {{ poster.status }} </p>
                    <p id="posterDescription"> {{ poster.formatted_created }} </p>
                    <p id="posterPhonenumber"> {{ poster.phone_number }} </p>
                    <p id="posterEmail"> {{ poster.email }} </p>
                    <p id="posterPrice"> {{ poster.price_rounded }} </p>
                    <p id="posterCurrnecy"> {{ poster.currency }} </p>
                    {% for image_id in poster.image_ids%}
                        <img src="{% url 'posters_app:get_image_by_image_path' image_id %}" alt="Image">
                    {% endfor %}
                </div>
                
            </li>
        {% endfor %}
    </ul>
</div> {% endcomment %}
{% comment %} {% for image in images %}
        <h1>{{ image.image_path }}</h1>
        <img src="{% url 'posters_app:get_image_by_image_id' image.id %}" alt="Image">
{% endfor %} {% endcomment %}

{% endblock %}