{% extends 'posters_base.html' %}

{% block title %} Poster info  {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'posters_app/css/poster.css'%}">
<script src="{% static 'posters_app/js/poster.js'%}" type="text/javascript"></script>

<div id="poster">
    <h3 id="posterHeader"> {{ poster.header }} </h3>
    <p id="posterDescription"> {{ poster.description }} </p>
    <p id="posterDescription"> {{ poster.status }} </p>
    <p id="posterDescription"> {{ poster.formatted_created }} </p>
    <p id="posterPhonenumber"> {{ poster.phone_number }} </p>
    <p id="posterEmail"> {{ poster.email }} </p>
    <p id="posterPrice"> {{ poster.price_rounded }} </p>
    <p id="posterCurrnecy"> {{ poster.currency }} </p>
    <p id="posterCurrnecy"> {{ poster.category_name }} </p>
    {% for image_path in poster.image_paths %}
        <img src="{% url 'posters_app:get_image_by_image_path' image_path %}" alt="Image">
    {% endfor %}

{% endblock %}