/* PC */
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    width: auto;
}

div.scroll-container img {
    padding: 10px;
}

div.container img {
    max-width: 350px;
    padding: 10px;
}

div.container#post-manage-div {
    margin: 10px 10px 10px 10px;
}

div.container#post-manage-div div#buttons {
    text-align: -webkit-right;
}

div.container#container-price {
    text-align: -webkit-left;
}

/* Phones */
@media (max-width: 480px) {
    div.container img {
        max-width: -webkit-fill-available;
        padding: 10px;
    }
    
    div.container#post-manage-div div#buttons {
        text-align: -webkit-left;
    }
}

/* Ipads */
@media (max-width: 768px) {}