<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Posters Project Base {% endblock %}</title>

    {% load static %}
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/posters_base.css' %}">
    <script src="{% static '/js/posters_base.js' %}" type="text/javascript"></script>

    {% block header %}
    <header>
        <div id="header" class="container-fluid">
            <nav>
                <a href="{% url 'posters_app:home' %}">Posters</a>
                <a href="{% url 'posters_app:categories' %}">Categories</a>
                {% if user.is_authenticated %}
                <a href="{% url 'user_account_app:view_user_account' %}">Profile</a>
                <p>Logged in as {{ user.username }} </p>

                {% else %}
                    <p>SignIn </p><a href="/login/">LogIn</a>
                    <p>SignUp </p><a href="{% url 'user_account_app:user_sign_up' %}">LogIn</a>
                {% endif %}
            </nav>
        </div>
    </header>
    
    {% endblock %}


    {% block content %}
    <h1>Poster Project Base HTML Page!</h1>
    {% endblock %}


    {% block footer %}
    <footer></footer>
    {% endblock %}

    
</body>
</html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>