<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{% block title %} Posters Project Base {% endblock %}</title>

    {% load static %}
</head>
<body>
    <link rel="stylesheet" href="{% static 'css/posters_base.css' %}">
    <script src="{% static '/js/posters_base.js' %}" type="text/javascript"></script>

    {% block header %}
    <header>
        <div class="topnav">
            <a href="{% url 'posters_app:home' %}">Posters</a>
            <a href="{% url 'posters_app:categories' %}">Categories</a>
            <a class="create-poster" href="{% url 'posters_app:create_poster' %}">Create post</a>
            {% if user.is_authenticated %}
                <p class="split" style="color: white;">Logged in as {{ user.username }} </p><a class="split" href="{% url 'user_account_app:view_user_account' %}">Profile</a>
            {% else %}
            <a class="split" href="/user_auth/login/">SignIn</a>
            {% endif %}  
        </div>     
    </header>
    
    {% endblock %}


    {% block content %}
    <h1>Poster Project Base HTML Page!</h1>
    {% endblock %}


    {% block footer %}
    <footer></footer>
    {% endblock %}

    
</body>
</html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>