{% extends 'posters_base.html' %}

{% block title %} Password Reset {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/password_changet.css' %}">
<script src="{% static '/js/password_changetjs' %}" type="text/javascript"></script>

<div class="container sm">
    <p>If you have forgotten your password Enter your email and we will send you the instructions.</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <p>Forgot you password ? Try to reset it <a href="/user_auth/password_reset/">Reset Password</a></p>
    <p>Back to login page <a href="/user_auth/login/">LonIn</a></p>
</div>

{% endblock %}