{% extends 'posters_base.html' %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'user_account_app/css/user_account_view.css' %}">


<div class="container">
    <div class="container">
        <h2>Hello {{ user }} </h2>
        <h4>Account information: </h4>
        <ul>
        {% for key, value in user_fields %}
            <li> <p> <b>{{ key|capfirst }}</b> | {{ value }}</p>  </li>
        {% endfor %}
        </ul>
    </div>
    

    <div class="panel panel-info">
        <div class="panel-heading">Account management</div>
        <div class="panel-body">
            <form method="post" action="{% url 'user_account_app:user_logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
    
            <p>Edit profile <a href="{% url 'user_account_app:user_profile_edit' %}">Edit</a> </p>

            <form method="post" action="{% url 'user_account_app:deactivate_user_account' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning" onclick="return confirm('Are you sure you want to delete this poster?');">Deactivate</button>
            </form>

            <form method="post" action="{% url 'user_account_app:delete_user_account' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this poster?');";>Delete</button>
            </form>

        </div>
      </div>
</div>

{% endblock %}