{% extends 'posters_base.html' %}
{% load i18n %}
{% block title %} {% trans "Edit profile" %} {% endblock %}


{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="container">
  <h2>{% trans "Edit profile" %}</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">{% trans "Update profile" %}</button>
    <p>{% trans "back to profile" %} <a href="{% url 'user_account_app:view_user_account' %}">{% trans "Go back" %}</a> </p>
  </form>
</div>



{% endblock %}